# Python / Virtual Environment
__pycache__/
*.py[cod]
myenv/
env/
venv/

# Logs, cache, temp
*.log
*.tmp
*.cache
*.bak

# IDE
.vscode/
.idea/

# ML artifacts
*.pkl
*.joblib
*.h5
*.ckpt
*.model
*.weights
*.dat

# Flask / Web App
# Ignore everything in instance except database files
instance/*
!instance/*.db

# NLTK data
# Keep your downloaded NLTK corpora
!mini_project/nltk_data/
