body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/2962268.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

input[type="text"] {
    border: 2px solid white;
    border-radius: 10px;
    width: 40vh;
    height: 5vh;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

button {
    background-color: brown;
    border: 2px solid white;
    border-radius: 25px;
    width: 10vh;
    height: 5vh;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

button:hover {
    background-color: #00ff00;
    box-shadow: 0px 0px 10px #00ff00;
}

h2, h3 {
    font-size: 2rem;
    margin-top: 2vh;
    text-align: center;
    width: 80%;
}